<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ post.title }}</h2>
                        <hr class="star-primary">
                        {% if post.video %}
                        <img class="img-responsive img-centered">
                            <video width="100%" height="100%" autoplay muted class="vid-centered">
                                <source src="{{ site.baseurl }}/vid/{{ post.video }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </img>
                        {% else %}
                        <img src="{{ site.baseurl }}/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"></img>
                        {% endif %}
                        <p>{{ post.description }}</p>
                        <ul class="list-inline item-details">
                            <li>
                                <strong>{{ post.company }}
                                </strong>
                            </li>
                            <li>
                                <strong>{{ post.project-date }}
                                </strong>
                            </li>
                            <li>
                                <strong>{{ post.category }}
                                </strong>
                            </li>
                        </ul>
                        <a href="{{ post.link }}"><button type="button" class="btn btn" style="background-color: #212121;"><strong><i
                                        class="fa fa-external-link"></i></strong> Visit Site</button></a>
                        <button type="button" class="btn btn" data-dismiss="modal" style="background-color: #212121;"><i class="fa fa-times"></i>
                            Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
