<!-- My Story Section -->
<section id="my-story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Story</h2>
                <h3 class="section-subheading text-muted">Checkpoints and Save Files</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="wow fadeInUp" data-wow-offset="150">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/seedlingThick.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Pre - 2020</h4>
                                <h4 class="subheading">Adventure Is Out There</h4>
                                <h5 class="subheading">New Objective Received!</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After being a mechanical engineer for several years, I journeyed
                                    into unknown territory in hopes of finding a more exciting career in game
                                    development.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow fadeInUp" data-wow-offset="150" data-wow-delay="0.05s">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/scrollThick.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%; ">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020</h4>
                                <h4 class="subheading">The Beginning of a Beautiful Journey Of Learning</h4>
                                <h5 class="subheading">Master's Of Software Acquired!</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After graduating with a master's of software engineering, the
                                    journey began to find where I belong in the game development world and how much I
                                    could accomplish.</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-offset="150" data-wow-delay="0.1s">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/flexThick.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2020 - 2021</h4>
                                <h4 class="subheading">Start-up Fever and Glory</h4>
                                <h5 class="subheading">Leveled Up Street Cred!</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Joining a start-up has its struggles but the payoff was far
                                    greater. Full-stack development opened my eyes to all that was possible and pushed
                                    me into doubling down my efforts on my game-dev projects.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow fadeInUp" data-wow-offset="150" data-wow-delay="0.15s">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/trophyThick.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2021 - 2023</h4>
                                <h4 class="subheading">My First Title - Payday Crime War</h4>
                                <h5 class="subheading">Power and Skill Stat Granted!</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Finally, a break into the game development industry and on my
                                    favourite franchise! Working on Payday Crime War was the biggest challenge I have
                                    faced yet. But with great challenge comes great knowledge. And with great knowledge
                                    comes great ... power.</p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-offset="150" data-wow-delay="0.2s">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/mountainThick.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2023 - 2024</h4>
                                <h4 class="subheading">Bigger and Greater Quests - Squad</h4>
                                <h5 class="subheading">Unreal Skill Acquired!</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I move on to working with a larger team on a larger project, Squad!
                                    Although C++ proved to be a challenge at first, it was a mountain I had to climb.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="wow fadeInUp" data-wow-offset="150" data-wow-delay="0.25s">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/JokerCard.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2024 - Present</h4>
                                <h4 class="subheading">Becoming a Captain - Parallel TCG</h4>
                                <h5 class="subheading">Veteran Skill Acquired!</h5>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted"> Finally a break from shooters, exploring the trading card realm is 
                                    exciting as it is terrifying as I was now responsible for a whole lot more in such a 
                                    small team; a small team where everyone is an expert. Imposter syndrome was really 
                                    setting in.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted wow fadeInUp" data-wow-offset="150" data-wow-delay="0.30s">
                        <div class="timeline-image">
                            <img src="{{ site.baseurl }}img/icons/rocketThick.png" class="img-responsive" alt=""
                                style="width: 80%; margin: 10%;">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>The Future</h4>
                                <h4 class="subheading">Great Games And More!</h4>
                                <h5 class="subheading">New Game+</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
